* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

main{
    height: 100%;
    width: 70%;
    background-color: 	#F5F5F5;
    padding: 20px 50px;
}

aside{
    background-color: #5C4033;
    height: 100%;
    width: 30%;
}

header{
    padding-bottom: 30px;
    width: 100%;
}

header > h1{
    font-size: 1.3rem;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 90%;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    padding: 20px;
}

.produtos::-webkit-scrollbar {
    width: 0px; /* Largura da scrollbar */
}

.produtos::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor do thumb */
    border: 1px solid #000; /* Borda no retângulo */
    border-radius: 50%; /* Bordas arredondadas */
}

.produtos::-webkit-scrollbar-track {
    background-color: transparent; /* Fundo transparente */
}

.produtos::-webkit-scrollbar-button {
    display: none; /* Remove as setinhas */
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.produto:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08), 0 4px 20px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.produto > img{
    width: 100px;
    height: 100px;
}

.produto > h2{
    font-size: 20px;
    margin: 10px 0;
}

.produto > button {
    justify-self: end;
    background-color: saddlebrown;
    width: 100%;
    height: 2rem;
}

.produto > button:hover {
    background-color: #5C4033;
}