* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

main{
    height: 100%;
    width: 70%;
    background-color:#F5F5F5;
    padding: 20px 50px;
}

aside{
    background-color: #5C4033;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aside-total{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: start;
    color: #F5F5F5;
}

.aside-total > h3{
    font-size: 1.1rem;
    color: #F5F5F5;
}

.aside-botoes {
    display: flex;
    width: 100%;
}

.aside-botoes > button{
    padding: 7px;
    width: 100%;
    height: 4rem;
    border: none;
    background-color: #1f140f;
    color: #F5F5F5;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.aside-botoes > button:hover{
    background-color: #91644f;
    transition: all 0.3s ease;
}

.aside-botoes > button:hover > span{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.card-lista{
    display: flex;
    width: 100%;
}

.card-lista > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.card-lista > .card-lista-infos{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.card-lista-infos .quantidade-controle {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.text-info{
    padding-right: 8px;
}

.card-lista-infos .quantidade-controle button {
    background: #91644f;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.card-lista-infos .quantidade-controle button:hover {
    background: #dd9f82;
}

.card-lista-infos .quantidade-controle .quantidade {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}

header{
    padding-bottom: 30px;
    width: 100%;
}

header > h1{
    font-size: 1.3rem;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 90%;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    padding: 20px;
}

.produtos::-webkit-scrollbar {
    width: 0px; /* Largura da scrollbar */
}

.produtos::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Cor do thumb */
    border: 1px solid #000; /* Borda no retângulo */
    border-radius: 50%; /* Bordas arredondadas */
}

.produtos::-webkit-scrollbar-track {
    background-color: transparent; /* Fundo transparente */
}

.produtos::-webkit-scrollbar-button {
    display: none; /* Remove as setinhas */
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 350px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    gap: 7px;
    font-size: small;
}

.produto:hover{
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.08), 0 4px 20px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.produto > img{
    max-width: 150px;
    max-height: 150px;
}

.produto > h2{
    font-size: 20px;
    margin: 10px 0;
}

.produto > p{
    text-align: center;
}

.produto > button {
    justify-self: end;
    background-color: saddlebrown;
    width: 100%;
    height: 2rem;
    color: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.produto > button:hover {
    background-color: #5C4033;
}